*{
	box-sizing: border-box;
}

html,body{
	width: 100%;
	height:100%;
	margin:0;
	background-color: beige;;
	text-align: center;
}
h1{
	font-family: "Raleway";
}
h2{
	font-family: "Nanum Gothic";
}
div h3, th{
	text-align: left;
}
.daftar-menu{
  width: 750px;
  height: 423px;
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
 
  display: flex;
  flex-direction: column;
}
.title {
	height: 60px;
	padding: 20px 30px;
	font-size: 20px;
	font-weight: 400;
	font-family: "Nanum Gothic";
  }
   
.item {
	padding: 150px 30px;
	height: 120px;
	display: flex;
	border-top:  1px solid #E1E8EE;
	border-bottom:  1px solid #E1E8EE;
	align-items: center;
}
   
.is-active {
	animation-name: animate;
	animation-duration: .8s;
	animation-iteration-count: 1;
	animation-timing-function: steps(28);
	animation-fill-mode: forwards;
}
   
@keyframes animate {
	0%   { background-position: left;  }
	50%  { background-position: right; }
	100% { background-position: right; }
}
   
.description {
	padding-top: 10px;
	margin-right: 60px;
	width: 115px;
	margin-left: 40px;
	font-family: "Manjari";
}
   
.description span {
	display: block;
	font-size: 14px;
	color: #43484D;
	font-weight: 400;
	font-size: 15px;
}
   
.description span:first-child {
	margin-bottom: 5px;
	font-weight: bold;
}

.description span:last-child {
	font-weight: 300;
	margin-top: 8px;
	color: #86939E;
}

button:focus,input:focus{
	outline:0;
}
.minus-btn img, .plus-btn img{
	width:20px;
	height:20px;
}
img{
	height: 200px;
	width: 200px;
}
.quantity {
	padding-top: 20px;
	margin-right: 60px;
	display:flex;
	align-items: center;
	padding: 5px;
  }
  .quantity input {
	-webkit-appearance: none;
	border: none;
	text-align: center;
	width: 32px;
	font-size: 16px;
	color: #43484D;
	font-weight: 300;
	height:30px;
	margin:10px;
	border-radius: 5px;
  }
   
  .price {
    width: 83px;
    font-size: 20px;
    text-align: center; 
    color: #43484D;
    font-weight: 300;
  }
  button[class*=btn] {
	width: 30px;
	height: 30px;
	background-color: #E1E8EE;
	border-radius: 6px;
	border: none;
	
  }
#quantitySate{
	-webkit-appearance: none;
	border: none;
	text-align: center;
	width: 32px;
	font-size: 16px;
	color: #43484D;
	font-weight: 300;
	height:30px;
	margin:10px;
	border-radius: 5px;
}
#order-summary{
	  height: auto;
	  text-align: center;
  }

#pesan{
	background-color: #4CAF50;
  	border: none;
  	color: white;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	cursor: pointer;
	float: right;
	margin:100px;
	padding:15px 32px;
	}
#sate, #lontong{
	margin:10px;
}

#totalHarga{
	font-weight: bold;
}

/*Responsive*/
  @media (max-width: 800px) {
	.daftar-menu {
	  width: 100%;
	  height: auto;
	  overflow: hidden;
	}
	.item {
	  height: auto;
	  flex-wrap: wrap;
	  justify-content: center;
	}
	.image img {
	  width: 50%;
	}
	.image,
	.quantity,
	.description {
	  width: 100%;
	  text-align: center;
	  margin: 6px 0;
	}
	.buttons {
	  margin-right: 20px;
	}
  }
  